extends layout

block content
  h1 Ram Niteesh Reddy Bandi

  .container-fluid
    .row
      -
        let results = [
          { House_address:'1102 N walnut', House_colour:'Grey',House_capacity:15 },
          { House_address:'218 coldenhall', House_colour:'white',House_capacity:5 },
          { House_address:'415 N mulberry', House_colour:'Blue',House_capacity:20 }
        ]
    each item, index in results
        .col-sm-2
            div(onclick=`buy(${index})`)
            p #{item.House_address}, #{item.House_colour},#{item.House_capacity}
            

  a(href='http://localhost:3000/') Link to Index

    

  script.
     function buy(x) {
      alert(`You purchased item ${x}`);
     } 